<nav class="navbar navbar-expand-lg navbar-dark btn mb-5">
      <a class="navbar-brand text-white">Tasks</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ml-5">
          <a <%= link_to "User Index", users_path, class:'nav-link' %></a>
        </li>
        <li class="nav-item ml-5">
          <a <%= link_to "ToDos", tasks_path, class:'nav-link' %></a>
        </li>
      </ul>
    </div>
</nav>
